    <div class="container">
        <div class="row">
        <!-- Left Section: Applicant Data and Review -->
            <div class="col-md-5 left-section">
                <!-- Applicant Data Table -->
                <div class="applicant-data">
                    <!-- Applicant Name Display -->
                    <div class="applicant-name">
                        <h3><%= @result['name'] || 'Applicant Name' %></h3>
                    </div>
                    <div class="scrollable-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Field</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @result.each do |key, value| %>
                            <tr>
                                <!-- todo: fields where many is true... -->

                                <td><%= key.humanize %></td>
                                <td>
                                <% if key.include?('date') %>
                                        <% parsed_date = Date.parse(value) rescue nil %>
                                        <% if parsed_date %>
                                        <%= parsed_date.strftime('%B %d, %Y') %>
                                        <% else %>
                                        <%= value || 'N/A' %>
                                        <% end %>
                                <% elsif key.include?('gpa') && value %>
                                    <%= value.to_s %>
                                <% else %>
                                    <%= value || 'N/A' %>
                                <% end %>
                                </td>
                            </tr>
                            <% end %>

                            <!-- Add other fields like IELTS, GRE scores in a similar fashion -->
                            <!-- TODO -->
                            <!-- ... continue for other fields ... -->
                            </tbody>
                        </table>
                    </div>
                </div>
                
                
                <div class="review-box">
                    <!-- Review Text Area -->
                    <textarea id="reviewInput" class="form-control" placeholder="Add your review here" rows="4"></textarea>
                    <!-- Review Display Card (Initially Hidden) -->
                    <div id="reviewCard" class="review-card" style="display: none;">
                        <p id="reviewText"></p>
                        <button id="editButton" class="edit-button">
                            <i class="fa fa-edit"></i> <!-- Font Awesome icon for edit -->
                        </button>
                    </div>
                    <!-- Rating Section -->
                    <h4 class="rating-heading">Rating</h4>
                    <div class="star-rating">
                        <i class="fa fa-star" data-rating="1" aria-hidden="true"></i>
                        <i class="fa fa-star" data-rating="2" aria-hidden="true"></i>
                        <i class="fa fa-star" data-rating="3" aria-hidden="true"></i>
                        <i class="fa fa-star" data-rating="4" aria-hidden="true"></i>
                        <i class="fa fa-star" data-rating="5" aria-hidden="true"></i>
                        <input type="hidden" id="rating" name="rating" value="0">
                        <span id="rating-display" class="rating-display">0</span>
                    </div>

                    <!-- Success Message -->
                    <div id="successMessage" class="success-message" style="display: none;">
                        Your review has been submitted successfully!
                    </div>
                    <div id="successMessageSave" class="success-message" style="display: none;">
                        Your review has been saved successfully!
                    </div>
                    <!-- Buttons -->
                    <div class="button-row">
                        <button id="submitButton" class="btn btn-primary" disabled>Submit Review</button>
                        <button id="saveButton" class="btn btn-secondary" disabled>Save for Later</button>
                    </div>
                </div>
            </div>

            <!-- Right Section: PDF Viewer and Other Reviews -->
            <div class="col-md-6 right-section">
                <!-- PDF Viewer -->
                <div class="right-container">
                    <div class="pdf-viewer-container" data-toggle="modal" data-target="#pdfModal">
                            <iframe src="/1234567890.pdf" width="100%" height="500px" allowfullscreen webkitallowfullscreen></iframe>
                        </div>
                    </div>


                    <!-- PDF Modal -->
                    <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="pdfModalLabel">PDF Viewer</h5>
                                    <button type="button" class="close modal-close-button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe src="/1234567890.pdf" width="100%" height="800px" allowfullscreen webkitallowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Other Reviewers Information -->
                    <div class="other-reviewers-container">
                        <div class="other-reviewers">
                            <h4 class="other-reviews-heading">Other Reviews</h4>
                            <% @other_reviewers.each do |reviewer| %>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= reviewer.user_netid %></h5>
                                        <p class="card-text"><%= reviewer.review_info %></p>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let stars = document.querySelectorAll('.star-rating .fa');
        let ratingDisplay = document.getElementById('rating-display');

        stars.forEach((star, idx) => {
            star.addEventListener('click', () => {
                document.getElementById('rating').value = idx + 1; // Update hidden input
                ratingDisplay.innerText = idx + 1; // Update rating display
                updateStars(idx);
            });
        });

        function updateStars(index) {
            stars.forEach((star, idx) => {
                star.style.color = idx <= index ? '#ffd700' : '#e4e5e9'; // Gold or gray
            });
        }
    });

    document.getElementById('submitButton').addEventListener('click', function() {
    document.getElementById('successMessage').style.display = 'block';
    //TODO: Implement Review request 

    // Transfer text and show card
    var reviewText = document.getElementById('reviewInput').value;
    document.getElementById('reviewText').innerText = reviewText;
    document.getElementById('reviewInput').style.display = 'none';
    document.getElementById('reviewCard').style.display = 'block';

    // Disable buttons
    this.disabled = true;
    document.getElementById('saveButton').disabled = true;

    // Show success message
    document.getElementById('successMessage').style.display = 'block';

    setTimeout(function() {
            document.getElementById('successMessage').style.display = 'none';
        }, 3000); // The message will be hidden after 3 seconds
    });
    
    document.getElementById('editButton').addEventListener('click', function() {
        // Switch back to editable state
        document.getElementById('reviewInput').style.display = 'block';
        document.getElementById('reviewCard').style.display = 'none';

        // Enable buttons
        // document.getElementById('submitButton').disabled = false;
        // document.getElementById('saveButton').disabled = false;
    });

    document.getElementById('saveButton').addEventListener('click', function() {
        //TODO: Add Logic to save to the database and read from database

        // Transfer text and show card
        var reviewText = document.getElementById('reviewInput').value;
        document.getElementById('reviewText').innerText = reviewText;
        document.getElementById('reviewInput').style.display = 'none';
        document.getElementById('reviewCard').style.display = 'block';

        // Disable buttons
        this.disabled = true;
        document.getElementById('saveButton').disabled = true;

        // Show success message
        document.getElementById('successMessageSave').style.display = 'block';

        setTimeout(function() {
                document.getElementById('successMessageSave').style.display = 'none';
        }, 3000); // The message will be hidden after 3 seconds
    });
    
    document.getElementById('editButton').addEventListener('click', function() {
        // Switch back to editable state
        document.getElementById('reviewInput').style.display = 'block';
        document.getElementById('reviewCard').style.display = 'none';

        // Enable buttons
        // document.getElementById('submitButton').disabled = false;
        // document.getElementById('saveButton').disabled = false;
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        let stars = document.querySelectorAll('.star-rating .fa');
        let ratingDisplay = document.getElementById('rating-display');
        let initialRating = document.getElementById('rating').value;
        let initialText = document.getElementById('reviewInput').value.trim();

        function updateStars(index) {
            stars.forEach((star, idx) => {
                star.style.color = idx <= index ? '#ffd700' : '#e4e5e9'; // Gold or gray
            });
        }

        function checkForChanges() {
            var currentText = document.getElementById('reviewInput').value.trim();
            var currentRating = document.getElementById('rating').value;

            var isTextChanged = initialText !== currentText;
            var isTextPresent = currentText.length > 0;

            var isRatingChanged = initialRating !== currentRating;
            var isRatingSelected = currentRating !== '0';

            var enableButtons = (isTextChanged && isTextPresent) || (isRatingChanged && isRatingSelected);
            document.getElementById('submitButton').disabled = !enableButtons;
            document.getElementById('saveButton').disabled = !enableButtons;
        }

        stars.forEach((star, idx) => {
            star.addEventListener('click', () => {
                document.getElementById('rating').value = idx + 1; // Update hidden input
                ratingDisplay.innerText = idx + 1; // Update rating display
                updateStars(idx);
                checkForChanges(); // Check for changes in rating
            });
        });
    });


    document.addEventListener('DOMContentLoaded', function() {
        var initialText = document.getElementById('reviewInput').value.trim();

        document.getElementById('reviewInput').addEventListener('input', function() {
            var currentText = this.value.trim();
            var isTextChanged = initialText !== currentText;
            var isTextPresent = currentText.length > 0;

            document.getElementById('submitButton').disabled = !(isTextChanged && isTextPresent);
            document.getElementById('saveButton').disabled = !(isTextChanged && isTextPresent);
        });
    });
    </script>