<h1>Application ID: <%= params[:cas_id] %></h1>

<%= result =  SearchService.search(query: "*application_cas_id=#{params[:cas_id]}", field: nil)[0] %>

<div class="search-results">
    <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Degree</th>
    </tr>
    <tr>
        <td><%= result["application_cas_id"]%></td>
        <td><%= result["application_name"]%></td>
        <td><%= result["application_email"]%></td>
        <td><a href="/application?cas_id=<%= result["application_cas_id"] %>"><%= result["application_degree"]  %></a></td> 
    </tr>
  </table>
  </div>
<div>
    <h2>Add a new Application Review</h2>
    <p><%= result["application_status"] %></p>
</div>
<div>
    <h2>Other Application Reviews</h2>
    <p><%= result["application_notes"] %></p>
</div>
