<div id="<%= dom_id review %>">
  <p>
    <strong>Netid:</strong>
    <%= review.netid %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review_id %>
  </p>

  <p>
    <strong>Review info:</strong>
    <%= review.review_info %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= review.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= review.updated_at %>
  </p>

</div>
