<div id="<%= dom_id review %>">
  <p>
    <strong>Appuser netid:</strong>
    <%= review.appuser_netid %>
  </p>

  <p>
    <strong>Candidate:</strong>
    <%= review.candidate_id %>
  </p>

  <p>
    <strong>Review info:</strong>
    <%= review.review_info %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review_id %>
  </p>

</div>
